@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-family: "Abril Fatface", serif;
}

* {
  font-family: "Poppins", serif;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
